<?xml version="1.0" encoding="UTF-8"?>
<data>
  <renderOverlay id="star" extends="star">
    <tile id="distress_signal" renderer="static" animation="distress_signal" fps="10" scale="1" x="-15/Tile.SIZE" y="-20/Tile.SIZE" if="eval(this.xml.get('distress')) == true"/>
  </renderOverlay>
  <animation id="planet.mekaphelin.gas">
    <append tile="planet10" animation="single" color="d285d4" colorScale="2" />
    <append tile="planet10.gas2" animation="single" color="e394e3" colorScale="1.5" />
    <append tile="planet10.shadow" animation="single" /><frame visible="false" />
  </animation>
  <animation id="planet.mekaphelin.desert">
      <append tile="planet4" animation="single" front="true" color="8c855c" colorScale="2" />
      <append tile="planet4.land1" animation="single" front="true" color="ada77c" colorScale="2" />
      <append tile="planet4.shadow" animation="single" front="true"/><frame visible="false" />
  </animation>
  <animation id="planet.mekaphelin.dead">
      <append tile="planet4" animation="single" front="true" color="595959" colorScale="3" />
      <append tile="planet4.land2" animation="single" front="true" color="494949" colorScale="3" />
      <append tile="planet4.shadow" animation="single" front="true"/><frame visible="false" />
  </animation>
  <animation id="planet.mekaphelin.grass">
    <append tile="planet7" animation="single" color="8fa9a9" colorScale="2" />
    <append tile="planet7.land2" animation="single" color="6a8163" colorScale="2" />
    <append tile="planet7.clouds" animation="single" color="6a8163" colorScale="2" />
    <append tile="planet7.shadow" animation="single" /><frame visible="false" />
  </animation>

  <include id="parallax.xml"/><include id="space_parralax/parralax.xml" />
  <include id="gas/gas.xml"/>
  <include id="desert/desert.xml"/>
  <include id="grass/grass.xml"/>

  <planet id="mekaphelin.dead" height="80">
    <orbit id="mekaphelin.dead.orbit" width="256" height="64" background="stars.asteroids.orbit" name="system.mekaphelin.dead.orbit" type="none">
      <area id="mekaphelin.dead.main"/>
      <init><runAreaLoad /></init>
      <onLoad><music id="orbit" seconds="1" /><radar tile="orbit.radar" animation="orbit.radar" padding="2" /></onLoad>
    </orbit>
  </planet>
  <area id="mekaphelin.dead.main" width="256" height="96" hasO2="false" background="mekaphelin.dead_moon" planet="mekaphelin.dead" looping="true" name="mekaphelin.dead_moon" >
    <tiles id="desert.dirt_top" y="0" empty="true" />
    <tiles id="bedrock" y="95" empty="true" />
    <tiles id="desert.dirt" start="0" end="0.5" empty="true" />
    <tiles id="basalt" start="0.5" end="1" empty="true" />
    <ore id="oil" start="0.0" end="0.5" percent="0.0375" tile="desert.dirt" />
    <ore id="iron" start="0.2" end="0.5" percent="0.0125" tile="desert.dirt" />
    <ore id="magnegem" start="0.4" end="0.5" percent="0.0025" tile="desert.dirt" />
    <ore id="uranium" start="0.8" end="1.0" percent="0.000625" tile="basalt" />
    <ore id="diamond" start="0.6" end="1.0" percent="0.0125" tile="basalt" />
    <ore id="titanium" start="0.5" end="1.0" percent="0.0125" tile="basalt" />
    <init><runAreaLoad /></init>
    <onLoad><run procedure="uefd.intro"/><music id="orbit_nocombat" seconds="1" /></onLoad>
  </area>

  <system id="mekaphelin" bgm="voyage" x="230" y="90" available="player.hasQuest('mekaphelin_signal')" distress="!getFlag('mekaphelin.signal')">
    <planet id="mekaphelin.gas" tile="planet10" animation="planet.mekaphelin.gas" orbit="orbit2" orbitOffX="0" orbitOffY="0" offsetX="-30" offsetY="0" name="system.planet.mekaphelin.gas"/>
    <planet id="mekaphelin.desert" tile="planet2" animation="planet.mekaphelin.desert" offsetX="-20" offsetY="-30" name="system.planet.mekaphelin.desert" />
    <planet id="mekaphelin.dead" tile="planet2" animation="planet.mekaphelin.dead" offsetX="-52" offsetY="25" name="system.planet.mekaphelin.dead" />
    <!-- <planet id="mekaphelin.grass" tile="planet4" animation="planet.mekaphelin.grass" orbit="orbit4" offsetX="65" offsetY="10" name="system.planet.mekaphelin.meks" /> -->
  </system>
</data>
